enableDQBufDump=true
enableUVCNodeBufferDump=true
enableUVCNodeConvertedBufferDump=true
enableExifNodeConvertedBufferDump=true
enableFaceNodeConvertedBufferDump=true
enableForkNodeConvertedBufferDump=true
enableRKFaceNodeConvertedBufferDump=true
enableRKExifNodeConvertedBufferDump=true
enableCodecNodeConvertedBufferDump=true
enableRKCodecNodeConvertedBufferDump=true
enableSreamTunnelBufferDump=true
enableMetadataDump=true
previewInterval=1
captureInterval=1
